{% extends "_layouts/app" %}

{% set posts = craft.entries.section('blog').all() %}

{% block content %}
	<h1 class="text-4xl text-block font-display my-4">Testr</h1>
	{% include "_includes/listing" with { posts: posts } only %}
{% endblock %}
